<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Github User Search
  </h1>
</div>
  <form>
    <input type="text" name="userName" [(ngModel)]="userName">
    <button (click)="searchUser()">Search</button>
  </form>

  <div *ngFor="let profile of card">
    <!-- <p>Name: {{profile.name}}</p> -->
    <img src="{{profile.avatar_url}}" alt="image" style="width: 10%;height: 10%">
    <p>Url: {{profile.html_url}}</p>
    <p>Repos: {{profile.public_repos}}</p>
    <p>{{profile.followers}}</p>
    <button (click)="fetchDetail(profile.login)">Detail</button>
    {{profile.login}}
  </div>
  


