<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">gitHub Repos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" style="color:#2199e8;">A-Z</a>
            <a class="dropdown-item" href="#" style="color:#2199e8;">Z-A</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="userName" [(ngModel)]="userName">
        <button class="btn btn-search my-2 my-sm-0" (click)="searchUser()">Search</button>
      </form>
    </div>
  </nav>
<div class="results" [class.d-none]="resultFlag">Total Results: {{results}}</div>
<div class="container" *ngFor="let profile of profiles | paginate: {itemsPerPage:3, currentPage:p}">
  <div class="card">
    <img src="{{profile.avatar_url}}" alt="image">
    <div class="card-body">
      <h2 class="card-title">{{profile.name}}</h2>
      <p style="margin-bottom:2rem;">Profile URL: {{profile.html_url}}</p>
      <p style="margin-bottom:0;">Repos: {{profile.public_repos}}</p>
      <p>Followers: {{profile.followers}}</p>
    </div>
    <div class="detail-btn">
        <button class="btn btn-color" (click)="fetchRepos(profile.login)">Details</button>
    </div>
    
  </div>
  <div class="detail-tab">
    <table class="table table-striped" *ngIf="profile.login === loginId">
      <tbody>
        <tr *ngFor="let repo of repository" style="text-align: center;">
          <td>{{repo.name}}</td>
          <td>{{repo.language}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<pagination-controls previousLabel="" nextLabel="" (pageChange)="p =$event"></pagination-controls>


<!-- <div *ngFor="let profile of card">
  <p>Name: {{profile.name}}</p>
  <img src="{{profile.avatar_url}}" alt="image" style="width: 10%;height: 10%">
  <p>Url: {{profile.html_url}}</p>
  <p>Repos: {{profile.public_repos}}</p>
  <p>{{profile.followers}}</p>
  <button (click)="fetchRepos(profile.login)">Detail</button>
  <table class="table table-striped" *ngIf="profile.login === loginId">
    <tbody>
      <tr *ngFor="let repo of repository">
        <td>{{repo.name}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>
  </table>
</div> -->